div{
	height:200px;
	width:200px;
	position: static;
}
body{
	margin:0px;
}
.rojo{
	 background-color:#ee3e64;
	 position:relative;
	 left: 50px;
}
.azul{
	background-color:#44accf;
	position:absolute;
	left:250px; 
}
.verde{
	background-color:#b7d84b;
	position:relative;
	left: 50px;
}
.amarillo{
	background-color:#f7fe2e; 
	position: absolute;
	left: 50px;
}